{% extends 'account/account_base.html' %}
{% block title %}登陆{% endblock %}
{% block style %}{% endblock %}
{% block content %}
<div id="frame_login">
    <div class="login_box">
        <div class="close" id="login_close">×</div>

            <div class="input_cell"><input type="text" placeholder="Username" id="username" name="username"></div>
            <div class="input_cell"><input type="password" placeholder="Password" id="password" name="password"></div>
            <div class="input_cell"><input type="submit" id="login_btn" class="login_btn" value="登陆"></input></div>

        <div class="opertor"><a href="/register">注册</a><a href="/register">找回密码</a></div>
        <div id="login_error"><span>账号或密码错误</span></div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('#login_btn').on('click',function () {
        var username = $('#username').val();
        var password = $('#password').val();
        $.window.http.post("/login",{'username':username,'password':password},function (data) {
            if(data.status == 1){
                var params = window.location.search;
                var rout = params.split('?next=%2F');
                if(rout.length==2){
                    window.location = '/'+rout[1];
                }else{
                    window.location = '/blogs_list';
                }
            }else{
                $('#login_error').css('display','block');
            }
        })
    })
    
    
</script>
{% endblock %}