{% extends 'account/password_base.html' %}
{% block passwd_title %}修改密码{% endblock %}
{% block passwd_style %}{% endblock %}
{% block passwd_content %}
<div id="modify_password_html">
    <div class="cell"><span>新密码：</span><input type="password" id="password" class="password"></div>
    <div class="cell"><span>确认密码：</span><input type="password" id="repeat" class="repeat"></div>
    <div class="cell"><button id="submit_button" class="submit_button">提交</button></div>
    <div class="cell" style="margin-top: 11px"><div id="error_tip"></div></div>
</div>
{% endblock %}
{% block passwd_script %}
<script>
    var email = {{json_encode(email)}}
</script>
<script>
    $('#submit_button').click(function(){
        var password = $('#password').val();
        var repeat = $('#repeat').val();
        if(password != repeat){
            $('#error_tip').html('两次密码不一致');
            return;
        }
        if(!check(password)){
            $('#error_tip').html('密码只能包含数字，字母，_和@');
            return;
        }
        $.window.http.post('/modify_password',{'email':email,'password':password},function (data) {
            if(data.status == 1){
                window.location.href='/modify_successful';
            }else{

            }
        })
    })

    function check(str){
        var reg=/^[0-9A-Za-z_@]*$/;
        return(reg.test(str));
    }
</script>
{% endblock %}