{% extends 'account/account_base.html' %}
{% block title %}
{% block passwd_title %}{% endblock %}
{% endblock %}
{% block style %}
{% block passwd_style %}{% endblock %}
{% endblock %}
{% block content %}
<div id="password_base_html">

    <div class="progress_bar">
        <div class="line"></div>
        <div class="step active" style="left: 0px;top:30px">
            <div class="number">1</div>
            <div class="tip">验证身份</div>
        </div>
        <div class="step" style="left: 350px;top:30px">
            <div class="number">2</div>
            <div class="tip">修改密码</div>
        </div>
        <div class="step" style="left: 700px;top:30px">
            <div class="number">3</div>
            <div class="tip">完成</div>
        </div>
    </div>
    <div class="background_content">
        {% block passwd_content %}{% endblock %}
    </div>
</div>
{% endblock %}
{% block script %}
<script>

</script>
{% block passwd_script %}{% endblock %}
{% endblock %}