{% extends 'account/account_base.html' %}
{% block title %}
{% block passwd_title %}{% endblock %}
{% endblock %}
{% block style %}
{% block passwd_style %}{% endblock %}
{% endblock %}
{% block content %}
<div id="password_base_html">

    <div class="progress_bar">
        {% if request.path == '/fill_account' %}
        <div class="line line_active1"></div>
        {% elif request.path == '/check_identity' %}
        <div class="line line_active2"></div>
        {% elif request.path == '/modify_password' %}
        <div class="line line_active3"></div>
        {% elif request.path == '/modify_successful' %}
        <div class="line line_active4"></div>
        {% endif %}
        <div class="step {{'active' if request.path == '/fill_account' or request.path == '/check_identity' or request.path == '/modify_password' or request.path == '/modify_successful'}}" style="left: 0px;top:30px">
            <div class="number">1</div>
            <div class="tip">填写账号</div>
        </div>
        <div class="step {{'active' if request.path == '/check_identity' or request.path == '/modify_password' or request.path == '/modify_successful'}}" style="left: 300px;top:30px">
            <div class="number">2</div>
            <div class="tip">验证身份</div>
        </div>
        <div class="step {{'active' if request.path == '/modify_password' or request.path == '/modify_successful'}}" style="left: 600px;top:30px">
            <div class="number">3</div>
            <div class="tip">修改密码</div>
        </div>
        <div class="step {{'active' if request.path == '/modify_successful'}}" style="left: 900px;top:30px">
            <div class="number">4</div>
            <div class="tip">完成</div>
        </div>
    </div>
    <div class="background_content">
        {% block passwd_content %}{% endblock %}
    </div>
</div>
{% endblock %}
{% block script %}
<script>

</script>
{% block passwd_script %}{% endblock %}
{% endblock %}