#frame_login{
    width:100%;
    height:100%;
    background-color: fadeout(#fff,60%);
    text-align: center;
    .login_box{
        display: inline-block;
        width:340px;
        min-height:200px;
        margin-top: 200px;
        padding-bottom: 50px;
        border: 1px solid #c9c9c9;
        background-color: fadeout(#fff,40%);
        .close{
            width:30px;
            height:30px;
            border-left:1px solid #c9c9c9;
            border-bottom: 1px solid #c9c9c9;
            margin-left: 310px;
            font-size: 30px;
            text-align: center;
            line-height: 25px;
            color:#ccc;
            &:hover{
                color:#aaa;
                cursor: pointer;
            }
        }
        form{
            margin: 0;
        }
        input{
            width:200px;
            height:30px;
            border: 1px solid #ccc;
            border-radius:4px;
            font-size: 12px;
            &:focus{
                border: 1px solid @theme_color;
            }
        }
        .input_cell{
            margin-top: 25px;
            position: relative;
            .status{
                position: absolute;
                width:16px;
                height:16px;
                left:270px;
                top:7px;
                margin-left: 10px;
                background-size: 16px;
            }
            #id_code{
                width:100px;
            }
            #email_btn{
                margin-left: 15px;
                border-radius: 4px;
            }
            #submit_btn{
                width:200px;
                border-radius: 4px;
            }
            .login_btn{
                color: #fff;
                background-color: @theme_color;
                cursor: pointer;
                &:hover{
                    background-color: @theme_color_deep;
                }
            }

        }
        #login_error{
            margin-top: 25px;
            color: #990000;
            height:15px;
            font-size: 13px;
            display: none;
        }
        .opertor{
            text-align: right;
            width:290px;
            margin-top: 30px;
            a{
                color:@theme_color;
                font-size: 12px;
                margin-left: 15px;
                &:hover{
                    color:@theme_color_deep;
                }
            }
        }
    }
}

#password_base_html{
    width:100%;
    height:80%;
    background-color: #fff;
    margin-top:100px;
    overflow: hidden;

    .progress_bar{
        width:1000px;
        height:110px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        .line{
            width:1000px;
            height:5px;
            background-color: #ddd;
            margin: 50px auto;
        }
        .line_active1{
            background: -webkit-linear-gradient(left, @theme_color , #ddd,#ddd,#ddd,#ddd); /* Safari 5.1 - 6.0 */
        }
        .line_active2{
            background: -webkit-linear-gradient(left, @theme_color , @theme_color,@theme_color,#ddd,#ddd,#ddd); /* Safari 5.1 - 6.0 */
        }
        .line_active3{
            background: -webkit-linear-gradient(left, @theme_color , @theme_color,#ddd); /* Safari 5.1 - 6.0 */
        }
        .step{
            display: inline-block;
            position: absolute;
            width:100px;
            text-align: center;
            background-color: #fff;
            .number{
                display: inline-block;
                width:40px;
                height:40px;
                color:#fff;
                background-color: #ddd;
                border-radius:40px;
                text-align: center;
                line-height: 40px;
                font-size: 16px;
            }
            .tip{
                color:#999;
                margin-top: 8px;
                font-size: 13px;
            }
        }
        .active{
            .number{
                background-color: @theme_color;
            }
            .tip{
                color: @theme_color;
            }
        }
    }
    .background_content{
        width:800px;
        height:500px;
        margin: 0 auto;
    }
}
#fill_account_html{
    width:200px;
    margin: 40px auto;
    .cell{
        margin-top: 10px;
        color:#888;
        .id_code{
            display: inline-block;
            width:160px;
            height:60px;
            margin-top: 16px;
            height:60px;
            border: 1px solid #bbb;
            img{
                width:160px;
                height:60px;
            }
        }
        a{
            color:@theme_color;
            font-size: 12px;
        }
        button{
            width:100%;
            margin-top: 16px;
        }
    }
    #error_tip{
        color:#FF0000;
        font-size: 12px;
    }
}