@theme_color: #8DB02E;
@theme_color_deep: #7b9f1a;
html,body{
    margin: 0;
    padding: 0;
    background-image: url("../img/background_007.jpg");
}
input{
    outline:none;
    border: 1px solid #ccc;
    color:#333;
    width:200px;
    height:30px;
    vertical-align: top;
    padding-left: 5px;
    &:focus{
        border: 1px solid @theme_color;
    }
}
button{
    width:80px;
    height:30px;
    vertical-align: top;
    border: 1px solid @theme_color;
    background-color: @theme_color;
    color:#fff;
    font-size: 13px;
    outline: none;
    outline:0;
    &:hover{
        cursor: pointer;
        background-color: fadeout(@theme_color,15%);
    }
}
textarea{
    resize: none;
}
.backgroundApacity(@alp,@opa){
    filter:alpha(opacity=@alp);
    -moz-opacity:@opa;
    -khtml-opacity: @opa;
    opacity: @opa;
}
.transitionTo(@property,@time){
    transition: @property @time;
    -moz-transition: @property @time; /* Firefox 4 */
    -webkit-transition: @property @time; /* Safari 和 Chrome */
    -o-transition: @property @time; /* Opera */
}
#frame_html{
    .frame_header{
        width:100%;
        height:50px;
        background-color: #2a2a2a;
        text-align: right;
        overflow: hidden;
        img.logo_img{
            position: absolute;
            width:40px;
            left:30px;
            top:5px;
        }
        ul{
            margin: 15px 50px;
            list-style: none;
            li{
                display: inline;
                margin-left: 20px;
                a{
                    vertical-align: top;
                    color:#d2d2d2;
                    font-size: 12px;
                    &:hover{
                        color:#f5f5f5;
                    }
                }
                .user_name{
                    font-size: 14px;
                    color:#fff;
                    font-family: Consolas;
                    img{
                        width:14px;
                        vertical-align: top;
                        margin-top: 1px;
                    }
                    span{
                        margin-left: 6px;
                        vertical-align: top;
                    }
                }
            }
        }

    }
    .frame_main_nav{
        width:100%;
        height:50px;
        background-color: #fff;
        box-shadow: 0 0px 5px #ccc;
        text-align: center;
        .nav_cell{
            text-decoration: none;
            box-sizing: border-box;
            display: inline-block;
            width:120px;
            height:50px;
            line-height: 50px;
            text-align: center;
            color: #666;
            font-size: 18px;
            border-bottom: 3px solid #ddd;
            &:hover{
                cursor: pointer;
                border-bottom: 3px solid @theme_color;
            }
        }
        .active{
            border-bottom: 3px solid @theme_color;
            background-color: @theme_color;
            color: #fff;
        }
    }
    .frame_content{
        width:1200px;
        min-height: 800px;
        margin: 40px auto 100px;
        box-sizing: border-box;
    }
}

