{% extends "base.html" %}
{% block title %}
{% block blogs_title %}{% endblock %}
{% endblock %}
{% block style %}
{% block blogs_style %}{% endblock %}
{% endblock %}
{% block content %}
<div id="blogs_base_html">
    <div class="left_nav">
        <div class="user_info">
            <div class="title">个人资料</div>
            <div class="head_img" id="head_img"></div>
        </div>
        <div class="classify">
            <div class="label_nav" id="label_nav">
                <ul>
                    {% for label in label_list %}
                    <li>{{label.label_name}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="right_content">
        <div class="main_nav">
            <ul>
                <li><a class="{{ 'li_active' if request.path == '/blogs/(\w+)' }}" href="/blogs/(\w+)">我的博客</a></li>
                <li><a class="{{ 'li_active' if request.path == '/blogs_essay' }}" href="/blogs_essay">新随笔</a></li>
                <li><a class="{{ 'li_active' if request.path == '/blogs_label' }}" href="/blogs_label">分类管理</a></li>
                <li><a class="{{ 'li_active' if request.path == '/blogs_setting' }}"  href="/blogs_setting">个人设置</a></li>
                <div class="clear:both"></div>
            </ul>
        </div>
        <div class="main_content">
            {% block blogs_content %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    var label_list = {{json_encode(label_list)}}
    var user_info = {{json_encode(user_info)}}
    $('#head_img').css('background-image','url('+user_info.head_img_url+')');
</script>
{% block blogs_script %}{% endblock %}
{% endblock %}