{% extends "blogs/blogs_base.html" %}
{% block blogs_title %}新随笔{% endblock %}
{% block blogs_style %}
{% endblock %}

{% block blogs_content %}
<div class="essay_html">
    <div class="title">标题</div>
    <div class="title_input">
        <input class="title_text" type="text" id="arcticle_title">
        <div class="blog_type" id="blog_type">
            <div class="selector"><span class="select_text">原创</span><span class="select_btn"><div></div></span></div>
            <ul>
                <li>原创</li>
                <li>转载</li>
                <li>翻译</li>
            </ul>
        </div>
    </div>
    <div class="article">内容</div>
    <div class="pan-edit-frame" id="blogs_edit">
        <iframe></iframe>
    </div>
    <div class="label_title">个人分类</div>
    <div class="label_box">
        <table id="label_table">
        {% for label in label_list %}
            {% if (loop.index-1)%5==0 %} {% if loop.index > 1 %}</tr>{% endif %}<tr>{% endif %}
            <td tid="{{label.label_id}}"><label class="check_label"><span class="check_box"></span><span class="check_name">{{label.label_name}}</span></label></td>
        {% endfor %}
        </tr>
        </table>
    </div>
    <div>
        <button class="submit_btn" id="submit_btn">提交</button>
    </div>
</div>

{% endblock %}
{% block blogs_script %}
<script>
    var label_list = {{json_encode(label_list)}};

</script>
<script>

    var panEditObj = new panEditFrameObj($('#blogs_edit'),{'width':935, 'height':600},function () {});
    var labelId = '';
    $('#blog_type .selector').click(function () {
        $('#blog_type ul').css('display','block');
        document.onmouseup = onDocumentMouseDown;
    })
    function onDocumentMouseDown(event){
        $('#blog_type ul').css('display','none');
        document.onmousedown = null;
    }
    $('#blog_type ul').on('click','li',function () {
        $('#blog_type .select_text').html($(this).html());
    })

    $('#submit_btn').on('click',function(){
        var blog_type = $('#blog_type .select_text').html();
        var articleTitle = $('#arcticle_title').val();
        var article = panEditObj.getFrameBodyHtml();
        var reg = new RegExp("'",'g');
        article = article.replace(reg,"''");
        //console.log(article);
        if(articleTitle.length == 0){
            alert('请填写文章标题');
            return;
        }
        if(labelId.length == 0){
            alert('请选择标签');
            return;
        }
        var data={
            'title':$('#arcticle_title').val(),
            'type':blog_type,
            'label_id':labelId,
            'article':article,
            'action':'create'
        };

        $.window.http.post('/blogs_essay',data,function(result){
            if(result.status==1){
                window.location.href='/blogs_list';
            }
            console.log(result);
        })
    })

    $('#label_table').on('click','.check_label',function () {
        var label_id = $(this).parents('td').attr('tid');
        $('#label_table td .check_box').removeClass('check_select');
        $(this).find('.check_box').addClass('check_select');
        labelId = label_id;
    })

</script>
{% endblock %}