{% extends "blogs/blogs_base.html" %}
{% block blogs_title %}我的博客{% endblock %}
{% block blogs_style %}

{% endblock %}

{% block blogs_content %}
<div id="blogs_html_list">
    {% for item in blogs_list %}
    <div class="blogs_item" blog_id="{{item.blog_id}}">
        <div class="item_header">
            <a href="/blogs_article?blog_id={{item.blog_id}}">
            <label class="item_type">{{item.type}}</label><label class="item_title">{{item.title}}</label>
            </a>
        </div>
        <div class="item_summary">&#12288;&#12288;{{item.summary}}</div>
        <div class="item_foot">

            {% for label in label_list %}
            {% if label.label_id == item.label_id %}
            <span class="label_name">{{label.label_name}}</span>
            {% endif %}
            {% endfor %}
            <span>{{timestamp_format(item.create_time,false)}}</span>
            <span>阅读({{item.click_rate}})</span>
            {% if current_user.user_id %}
            <span class="modify_blog_btn">编辑</span>
            <span class="delete_blog_btn">删除</span>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <div class="pan-blogs-dialog" id="delete_dialog">
        <div class="pan-blogs-dialog-content">
            <div id="dialog_content">
                <div class="dialog_tip">确定删除？</div>
                <div class="dialog_foot">
                    <button class="cancel_btn">取消</button>
                    <button class="ok_btn">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block blogs_script %}
<script>
    var blogs_list = {{json_encode(blogs_list)}};
    var deleteDialog = $('#delete_dialog').panBlogsDialog({'width':320,'height':190},function(){});
    var selected_blog_id = null;
    $('.delete_blog_btn').click(function(){
        deleteDialog.showDialog();
        selected_blog_id = $(this).parents('.blogs_item').attr('blog_id');
    })
    $('#dialog_content .ok_btn').click(function () {
        deleteDialog.hideDialog();
        if(selected_blog_id==null){
            return;
        }
        $.window.http.post('/blogs_essay',{'action':'delete','blog_id':selected_blog_id},function(data){
            if(data.status==1){
                window.location.href='/blogs_list';
            }
            console.log(data);
        })
    })
    $('#dialog_content .cancel_btn').click(function (){
        deleteDialog.hideDialog();
    })

</script>
{% endblock %}