{% extends "blogs/blogs_base.html" %}
{% block blogs_title %}我的博客{% endblock %}
{% block blogs_style %}

{% endblock %}

{% block blogs_classify %}
<a href="/blogs_essay">添加新随笔</a>
{% endblock %}

{% block blogs_content %}
<div id="blogs_html_list">
    {% for item in blogs_list %}
    <div class="blogs_item">
        <div class="item_title">{{item.title}}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block blogs_script %}
<script>
    var blogs_list = {{json_encode(blogs_list)}};
</script>
{% endblock %}