{% extends "base.html" %}
{% block title %}
{% block blogs_title %}{% endblock %}
{% endblock %}
{% block style %}
{% block blogs_style %}{% endblock %}
{% endblock %}
{% block content %}
<div id="blogs_base_html">

    <div class="main_content">

        <div class="main_content_st">
            <div class="book_header"></div>
            <div class="book_content">
                {% block blogs_content %}
                {% endblock %}
            </div>
            <div class="book_footer"></div>
        </div>

    </div>
    <div class="side_nav">
        <div class="user_info">
            <div class="title">个人资料</div>
            <div class="head_img" id="head_img"></div>
        </div>
        <div class="classify">
            <div class="label_nav" id="label_nav">
                <ul>
                    {% for label in label_list %}
                    <li>{{label.label_name}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    var label_list = {{json_encode(label_list)}}
    if(current_user.rout_address)
        $('#head_img').css('background-image','url('+current_user.head_img_url+')');
</script>
{% block blogs_script %}{% endblock %}
{% endblock %}