.essay_html{
    padding: 20px;
    .title{
        color:#666;
        font-size: 14px;
    }
    .title_input{
        margin-top: 15px;
        input.title_text{
            width:90%;
            height:30px;
            font-size: 14px;
        }
        .blog_type{
            position: relative;
            display: inline-block;
            vertical-align: top;
            width:80px;
            height:28px;
            background-color: #f7f7f7;
            border: 1px solid #ccc;
            cursor: pointer;
            &:hover{
                background-color: #f0f0f0;
            }
            .selector{
                .select_text{
                    display: inline-block;
                    vertical-align: top;
                    width:76%;
                    height:30px;
                    font-size: 14px;
                    line-height: 28px;
                    text-align: center;
                    color:#777;
                }
                .select_btn{
                    display: inline-block;
                    vertical-align: top;
                    width:20%;
                    padding-top: 11px;
                    div{
                        width:0;
                        height:0;
                        border-width: 7px;
                        border-style: solid;
                        border-color:#999 transparent transparent transparent;
                    }
                }
            }
            ul{
                position: absolute;
                display: block;
                width:80px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                border: 1px solid @theme_color;
                z-index: 1001;
                background-color: #fff;
                margin-left: -1px;
                margin-top: -1px;
                display: none;
                li{
                    display: block;
                    box-sizing: border-box;
                    margin: 0;
                    height:25px;
                    line-height: 25px;
                    color:#888;
                    font-size: 13px;
                    padding-left: 8px;
                    &:hover{
                        color: #fff;
                        background-color: fadeout(@theme_color,30%);
                    }
                }
            }
        }
    }
    .article{
        margin-top: 20px;
        height: 32px;
        color:#666;
        font-size: 14px;
    }
    .label_title{
        margin-top: 26px;
        height: 25px;
        color:#666;
        font-size: 14px;
    }
    .label_box{
        margin-top: 10px;
        border-top: 1px solid #e9e9e9;
        table{
            width:100%;
            tr{
                height: 30px;
                td{
                    .check_label{
                        display: inline-block;
                        cursor: pointer;
                        .check_box{
                            display: inline-block;
                            vertical-align: top;
                            width:12px;
                            height:12px;
                            border: 1px solid @theme_color;
                            background-size: 12px;
                            margin-top: 2px;
                        }
                        .check_name{
                            margin-left: 7px;
                            display: inline-block;
                            vertical-align: top;
                            font-size: 13px;
                        }
                        .check_select{
                            background-image:url(../img/check_yes.png);
                            background-color: fadeout(@theme_color,20%);
                        }
                    }
                }
            }
        }
        border-bottom: 1px solid #e9e9e9;
    }
    .submit_btn{
        margin-top: 20px;
    }
}