#blogs_setting_html{
    padding:25px;
    position: relative;
    .sub_title{
        font-size: 15px;
        color: #666;
        margin-top: 15px;
    }
    input{
        width:500px;
        margin-top: 15px;
    }
    .cut_line{
        width:100%;
        height:1px;
        margin-top: 6px;
        background-color: #c5c5c5;
    }
    .user_head_img{
        position: absolute;
        left: 60px;
        width:130px;
        top: 110px;
        text-align: center;
        overflow: hidden;
        .image_rect{
            width:120px;
            height:120px;
            margin: 15px auto 12px;
            border-radius: 5px;
            overflow: hidden;
            img{
                width:120px;
                height:120px;
            }
        }
        a{
            width: 50px;
            height: 20px;
            font-size: 12px;
            cursor: pointer;
            color: @theme_color_deep;
            text-decoration: underline;
        }
    }
    .user_info_box {
        margin-left: 50px;
        margin-top: 50px;
        .box_cell {
            margin-top: 15px;
            .data_name {
                font-size: 12px;
                color: #333;
            }
            .data_value {
                font-size: 12px;
                color: #666;
                margin-left: 12px;
            }
            a {
                width: 50px;
                height: 20px;
                font-size: 12px;
                margin-left: 12px;
                cursor: pointer;
                color: @theme_color_deep;
                text-decoration: underline;
            }
            .tip{
                color:#555;
                font-size: 12px;
                margin-left: 15px;
            }
        }
    }
}