#blogs_html_list{
    padding: 20px;
    .blogs_item{
        width:100%;
        height:150px;
        margin-top: 20px;
        border: 1px solid @theme_color;
    }
    .item_title{
        width:100%;
        height:26px;
        line-height: 26px;
        background-color: fadeout(@theme_color,20%);
        color:#fff;
        font-size: 12px;
        box-sizing: border-box;
        padding-left: 15px;
    }
}

