#blogs_label_html{
    padding: 20px;
    #add_label_box{
        height:30px;
        padding-top: 20px;
        display: none;
        overflow: hidden;
        input{
            width:860px;
        }
    }
    .label_table{
        width:100%;
        text-align: center;
        border-spacing:0;
        border-collapse: collapse;
        font-size: 13px;
        color:#444;
        margin-top: 20px;
        border: 1px solid #e0e0e0;
        thead tr{
            background-color: #f0f0f0;
            height: 40px;
        }
        tbody tr{
            &:nth-child(even) {
                background-color: fadeout(@theme_color, 90%);
            }
            height: 38px;
            td{
                .label_img{
                    width:18px;
                    height:18px;
                    margin: 0 auto;
                    background-image: url(../img/edit_delete_label.png);
                    background-size: 36px;
                    cursor: pointer;
                    &:hover{
                        .backgroundApacity(70,0.7);
                    }
                }
                .edit_label{
                    .label_img;
                    background-position: 18px 0;
                }
                .delete_label{
                    .label_img;
                    background-position: 0 0;
                }
            }
        }
    }
    #dialog_content{
        .dialog_tip{
            width:100%;
            text-align: center;
            color:#888;
            height:130px;
            line-height: 130px;
            font-size: 16px;
        }
        .dialog_foot{
            text-align: center;
            button:last-child{
                margin-left: 15px;
            }
        }
    }
}
