.essay_html{
    padding: 20px;
    .title{
        color:#666;
        font-size: 14px;
    }
    input.title_text{
        width:100%;
        height:30px;
        margin-top: 10px;
        font-size: 14px;
    }
    .article{
        margin-top: 20px;
        height: 32px;
        color:#666;
        font-size: 14px;
    }
    .selected_classify{
        width:100%;
        min-height: 50px;
    }
    .submit_btn{
        width:60px;
        height:26px;
    }
}