#blogs_article_html{
    width:100%;
    min-height: 800px;
    background-color: #ffffff;
    margin-top: 50px auto;
    padding: 40px;
    .article_title{
        font-size: 25px;
    }
    .article_content{

    }
}