<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{static_url}}/css/ui_frame.min.css">
    {% block style %}{% endblock %}
</head>
<body>
<div class="frame_header">

    {% block content %}

    {% endblock %}
</div>
<div class="frame_main_nav">
    <div class="nav_cell active">插件库</div>
    <div class="nav_cell">资料库</div>
    <div class="nav_cell">代码库</div>

</div>
<script type="text/javascript" src="{{static_url}}/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{static_url}}/js/ui_frame.min.js"></script>
<script>
    var ll = {{com}}
</script>

{% block script %}
{% endblock %}
</body>

</html>