<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{static_url}}/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{static_url}}/css/ui_frame.min.css">
    <link href="{{static_url}}/css/panEasyUI.min.css" rel="stylesheet"/>
    {% block style %}{% endblock %}
</head>
<body>
<div id="frame_html" style="display: block">
    <div class="frame_header">
        <ul>
            {% if current_user.user_id %}
                <li><a id="nav_logout" href="/logout">注销</a></li>
                <li><span class="user_name">{{current_user.username}}</span></li>
            {% else %}
            <li><a id="nav_login" href="/login">登录</a></li>
            {% endif %}

        </ul>
    </div>
    {% set rout_dict={'/blogs_list':1,'/blogs_essay':1,'/blogs_label':1,'/blogs_setting':1,'/blogs_article':1} %}
    <div class="frame_main_nav">
        <a class="nav_cell {{'active' if request.path == '/index'}}" href="/index">插件库</a>
        <a class="nav_cell">资料阁</a>
        <a class="nav_cell {{'active' if rout_dict[request.path]}}" href="/blogs_list">博客苑</a>
    </div>
    <div class="frame_content">
        {% block content %}

        {% endblock %}
    </div>
</div>
<script type="text/javascript" src="{{static_url}}/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{static_url}}/js/ui_frame.js"></script>
<script type="text/javascript" src="{{static_url}}/js/panEasyUI.js"></script>
<script>
    var current_user = {{json_encode(current_user)}};
</script>
{% block script %}
{% endblock %}
</body>

</html>