<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{static_url}}/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{{static_url}}/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{static_url}}/css/ui_frame.min.css">
    <link href="{{static_url}}/css/panEasyUI.min.css" rel="stylesheet"/>
    {% block style %}{% endblock %}
</head>
<body>
<div id="frame_html">
    <div class="frame_header">
        <ul>
            {% if current_user.user_id %}
            <li><span class="user_name"><img src="{{current_user.head_img_url}}"/><span>{{current_user.username}}</span></span></li>
            <li><a id="nav_logout" href="/logout">注销</a></li>
            {% else %}
            <li><a id="nav_login" href="/login">登录</a></li>
            {% endif %}
        </ul>
        <input type="text" class="search" placeholder="支持博客关键字搜索"><div class="search_image"></div>
    </div>
    {% set rout = '/blogs/'+current_user.rout_address if current_user.rout_address else '/blogs_list' %}
    {% set rout_dict={'/blogs_list':1,'/blogs_essay':1,'/blogs_label':1,'/blogs_setting':1,'/blogs_article':1,rout:1} %}
    <div class="frame_main_nav">
        <a class="{{'active' if request.path == '/blogs_list'}}" href="/blogs_list">我的博客</a>
        <a class="{{'active' if request.path == '/blogs_essay'}}" href="/blogs_essay">新随笔</a>
        <a class="{{'active' if request.path == '/blogs_label'}}" href="/blogs_label">分类管理</a>
        <a class="{{'active' if request.path == '/blogs_setting'}}" href="/blogs_setting">个人设置</a>
        <a class="" href="/index">插件库</a>
        <a class="">资料阁</a>
    </div>
    <div class="frame_content">
        {% block content %}

        {% endblock %}
    </div>
</div>
<script type="text/javascript" src="{{static_url}}/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{static_url}}/js/ui_frame.js"></script>
<script type="text/javascript" src="{{static_url}}/js/panEasyUI.js"></script>
<script>
    var current_user = {{json_encode(current_user)}};
</script>
{% block script %}
{% endblock %}
</body>

</html>