{% extends "base_index.html" %}
{% block title %}主页{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div class="index_html">
    <div>
        <div class="plug_box">
            <div class="plug_logo"></div>
            <div class="plug_title">jQuery 日期选择器</div>
            <div class="plug_support">
                <img src="{{static_url}}/img/chrome_logo.jpg">
                <img src="{{static_url}}/img/firefox_logo.jpg">
                <img src="{{static_url}}/img/ie_logo.jpg">
            </div>
            <div class="plug_foot">
                <div class="view_btn">查看演示</div>
                <div class="used_btn">使用方法</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}