<html>
<head>
    <title>LeetCode</title>
    <style type="text/css">
        .box{
            background-color: #ccc;
            width:500px;
        }
        .box button{
            right:0;
        }
    </style>
</head>
<body>
<div id="a_btn" class="btn">test</div>
<div class="box">
    <span></span>
    <button >确定</button>
</div>
<script>

</script>
<script type="text/javascript" src="../static/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/leetcode.js"></script>
</body>
</html>