<html>
<head>
    <title>登陆</title>
    <link rel="icon" href="{{static_url}}/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{static_url}}/css/ui_frame.min.css">
</head>
<body>
<!-- 登陆 -->
<div id="frame_login">
    <div class="login_box">
        <div class="close" id="login_close">×</div>
        <form action="/login" method="post">
            {{ xsrf_form_html() }}
            <input type="text" placeholder="Username" class="username" name="username"><br/>
            <input type="password" placeholder="Password" class="password" name="password">
            <input class="login_btn" type="submit" value="登陆"/>
        </form>
    </div>
</div>
<script type="text/javascript" src="{{static_url}}/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{static_url}}/js/ui_frame.js"></script>
<script>
    $('#login_close').click(function(){
        //window.location.href='/index';
    })
</script>
</body>
</html>