<html>
<head>
    <title></title>
    <link href="../static/less/panEasyUI.less" type="text/css" rel="stylesheet/less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <!--link href="../static/css/panEasyUI.min.css" type="text/css" rel="stylesheet"-->
</head>
<body>

<div class="pan-selector" id="test_selector"></div>
<div class="pan-selector" id="test_selector1"></div>
<div class="pan-image-zoomify" id="test_zoomify"><img src="../static/img/zoom.jpg"></div>
<div class="pan-image-zoomify" id="test_zoomify1"><img src="../static/img/zoom1.jpg"></div>
<div>日期选择器</div><div class="pan-datetime-picker" id="test_datetime"></div>

</body>
<script type="text/javascript" src="../static/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/panEasyUI.js"></script>
</html>